@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);

@font-face {
  font-family: "Quicksand";
  font-style: bold;
  font-weight: bold;
  src: local("?"), url("../fuentes/Quicksand-Bold.woff") format("woff"), url("../fuentes/Quicksand-Bold.tff") format("truetype");
}

@font-face {
font-family: "Quicksand";
  src: local("?"), url("../fuentes/Quicksand-Regular.woff") format("woff"), url("../fuentes/Quicksand-Regular.tff") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  font-style:light;
  font-weight: light;
  src: local("?"), url("../fuentes/Quicksand-Regular.woff") format("woff"), url("../fuentes/Quicksand-Regular.tff") format("truetype");
}

#cssmenu {
  font-family: 'Quicksand', sans-serif;
  font-size: 21px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
}

#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FABC43;
  border-top: 2px solid #FABC43;
  border-bottom: 2px solid #5A1A11;
  /*-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;*/
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;*/
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('../img/header/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #5A1A11 url('../img/header/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #5A1A11;
  /*text-shadow: 0px 1px 0px #fff;*/
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #5A1A11;
  color: #FABC43;
  /*text-shadow: 0px 1px 0px #000;*/
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('../img/header/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #5A1A11;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}
